
config/local.js

node_modules

.tmp

.DS_STORE
.netbeans
nbproject
.idea
.history
.vscode
.node_history
dump.rdb
assets/uploads/*
!assets/uploads/profile_photo/default.png
!assets/uploads/driving_license/default.png
!assets/uploads/vehicle_image/default.png
logs

npm-debug.log
lib-cov
*.seed
*.log
*.out
*.pid


